*~
ssl/
apiService/apiService
idService/idService
messageService/messageService
messageService/messageServer
routerService/routerService
storageService/storageService
logs/
child.cfg
child2.cfg
parent.cfg
longChat-Server
